<body>

    <div class="container-fluid mt-2">

        <div class="text-center">
            <button class="btn register-title ml-5" type="button" [routerLink]="'/inicio'" alt="">Volver a INICIO</button>&nbsp;&nbsp;&nbsp;

            <button class="btn register-title mr-5" type="button" [routerLink]="'/loginProfesor'" alt="">LOGIN</button>
        </div>

    </div>
    <div class="container">

        <!-- formulario de recogida de datos -->
        <form [formGroup]="alumno" (ngSubmit)="onFormSubmit()">

            <!-- campo del nickAlumno (La variable formControlName es una etiqueta que atiende los cambios al valor del control)-->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" formControlName="nickAlumno" placeholder="nick" class="form-control" [ngClass]="{'is-valid': controlFormulario.nickAlumno.touched && controlFormulario.nickAlumno.valid,
                    'is-invalid': controlFormulario.nickAlumno.touched && controlFormulario.nickAlumno.invalid}">

                    <!-- El controlFormulario viene del TS y en caso que se cumplan las 2 condiciones se convierte en true -->
                    <div *ngIf="submitted && controlFormulario.nickAlumno.errors" class="invalid-feedback">
                        <div *ngIf="controlFormulario.nickAlumno.errors.required">El nick es obligatorio</div>
                    </div>

                </div>
            </div>

            <!-- campo del contraseña del Alumno -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="password" formControlName="contrasenyaAlumno" placeholder="contraseña" class="form-control" [ngClass]="{'is-valid': controlFormulario.contrasenyaAlumno.touched && controlFormulario.contrasenyaAlumno.valid,
                    'is-invalid': controlFormulario.contrasenyaAlumno.touched && controlFormulario.contrasenyaAlumno.invalid}">

                    <!-- El controlFormulario viene del TS y en caso que se cumplan las 2 condiciones se convierte en true -->
                    <div *ngIf="submitted && controlFormulario.contrasenyaAlumno.errors" class="invalid-feedback">
                        <div *ngIf="controlFormulario.contrasenyaAlumno.errors.required">La contraseña es obligatorio</div>
                    </div>
                </div>
            </div>

            <!-- campo repetir contraseña del Alumno -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="password" formControlName="confirmarContrasenyaAlumno" id="confirarContrasenyaAlumno" placeholder="Repite la contrasenya" class="form-control" [ngClass]="{'is-valid': controlFormulario.confirmarContrasenyaAlumno.touched && controlFormulario.confirmarContrasenyaAlumno.valid,
                      'is-invalid': controlFormulario.confirmarContrasenyaAlumno.touched && controlFormulario.confirmarContrasenyaAlumno.invalid}">

                    <div *ngIf="submitted && controlFormulario.confirmarContrasenyaAlumno.errors" class="invalid_feedback">
                        <div *ngIf="controlFormulario.confirmarContrasenyaAlumno.errors.required">El campo confirmar contraseña es obligatorio</div>
                        <div *ngIf="controlFormulario.confirmarContrasenyaAlumno.errors.validarContrasenya">La contrasenya no coincide</div>
                    </div>
                    <div [ngSwitch]="mostrarMensaje"></div>
                    <br>
                </div>
            </div>


            <!-- campo del nombreAlumno -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" formControlName="nombreAlumno" placeholder="nombre" class="form-control" [ngClass]="{'is-valid': controlFormulario.nombreAlumno.touched && controlFormulario.nombreAlumno.valid,
                  'is-invalid': controlFormulario.nombreAlumno.touched && controlFormulario.nombreAlumno.invalid}">

                    <!-- El controlFormulario viene del TS y en caso que se cumplan las 2 condiciones se convierte en true -->
                    <div *ngIf="submitted && controlFormulario.nombreAlumno.errors" class="invalid-feedback">
                        <div *ngIf="controlFormulario.nombreAlumno.errors.required">El nombre es obligatorio</div>
                    </div>
                </div>
            </div>

            <!-- campo de apellidos del Alumno -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="text" formControlName="apellidoAlumno" placeholder="Apellidos" class="form-control" [ngClass]="{'is-valid': controlFormulario.apellidoAlumno.touched && controlFormulario.apellidoAlumno.valid,
                    'is-invalid': controlFormulario.apellidoAlumno.touched && controlFormulario.apellidoAlumno.invalid}">

                    <!-- El controlFormulario viene del TS y en caso que se cumplan las 2 condiciones se convierte en true -->
                    <div *ngIf="submitted && controlFormulario.apellidoAlumno.errors" class="invalid-feedback">
                        <div *ngIf="controlFormulario.apellidoAlumno.errors.required">Los apellidos son obligatorios</div>
                    </div>
                </div>
            </div>

            <!-- campo de correo del Alumno -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <input type="email" formControlName="correoAlumno" placeholder="prueba@prueba.com" class="form-control" [ngClass]="{'is-valid': controlFormulario.correoAlumno.touched && controlFormulario.correoAlumno.valid,
                    'is-invalid': controlFormulario.correoAlumno.touched && controlFormulario.correoAlumno.invalid}">
                    <!-- El controlFormulario viene del TS y en caso que se cumplan las 2 condiciones se convierte en true -->
                    <div *ngIf="submitted && controlFormulario.correoAlumno.errors" class="invalid-feedback">
                        <div *ngIf="controlFormulario.correoAlumno.errors.required">El correo es obligatorio</div>
                        <div *ngIf="controlFormulario.correoAlumno.errors.email">El correo no es valido</div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <!--botón registrarse-->
            <div>
                <div class="form-group">
                    <button type="submit" class="register-button">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
</body>
