<div *ngIf="alumno !== null" class="card" style="width: 18rem;">
    <!-- recorre todo el profesor con el ngIf, mientras no se salga del array y no haya nada (null) -->
    <div class="card-body">
        <img src="../../../assets/imagenProfesora.jpeg" class="card-img-top" alt="">
        <div class="card-body col-md-12">
            <h5 class="card-title"><strong>{{alumno.nombreAlumno}} {{alumno.apellidoAlumno}}</strong></h5>
            <!-- saca por pantalla el nombre y apellido del profesor con un titulo -->
        </div>
        <form>
            <div class="card-body">
                <p class="card-text"><strong>Nick: </strong>{{alumno.nickAlumno}}</p>
                <!-- saca por pantalla la descripcion -->
            </div>

            <div class="card-body">
                <p class="card-text"><strong>Correo: </strong>{{alumno.emailAlumno}}</p>
                <!-- saca por pantalla el correo -->
            </div>

            <!-- <div class="card-body">
              <p class="card-text"><strong>Contraseña: </strong>{{profesor.contrasenyaProfesor}}</p> -->
            <!-- saca por pantalla la contraseña -->
            <!-- </div> -->

            <!-- Botón para editar contraseña con icono -->
            <button type="button" class="btn btn-light" [routerLink]="'/cambiarContraProfesor'">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg> Editar Contrseña
        </button>

        </form>
        <br>

        <!-- Botón para cambiar de acción según la opción que se seleccione, nos enviará a un componente u otro-->

        <!-- <button type="button" class="btn btn-light" (click)="cambiarComponente()"> -->
        <button type="button" class="btn btn-light" [routerLink]="'/editPerfil'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg> Edita tu perfil
    </button>

    </div>


</div>
