<div class="card m-3">

  <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="form-group col-5">
              <label>Login Profesor</label>

              <input type="text" formControlName="nickProfesor" class="form-control" [ngClass]="{ 'is-invalid': submitted && controlFormulario.nickProfesor.errors }" />
              <div *ngIf="submitted && controlFormulario.nickProfesor.errors" class="invalid-feedback">
                  <div *ngIf="controlFormulario.nickProfesor.errors.required">First Name is required</div>
              </div>
          </div>

          <div class="form-row">
              <div class="form-group col">
                  <label>Password</label>
                  <input type="password" formControlName="contrasenyaProfesor" class="form-control" [ngClass]="{ 'is-invalid': submitted && controlFormulario.contrasenyaProfesor.errors }" />
                  <div *ngIf="submitted && controlFormulario.contrasenyaProfesor.errors" class="invalid-feedback">
                      <div *ngIf="controlFormulario.contrasenyaProfesor.errors.required">Password is required</div>
                      <div *ngIf="controlFormulario.contrasenyaProfesor.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
          </div>

          <div class="text-center">
              <button class="btn btn-primary mr-1">Login</button>


              <!-- BOTON PARA REINICIAR LOS VALORES  -->
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>
