<form [formGroup]="profesor" #itemForm="ngForm">

    <!-- camp nom (formControlName és una etiqueta que aten els canvis al valor del control -->

    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="control-label">Nombre del Alumno</label>

            <input type="text" formControlName="nombreProfesor" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && controlLogin.nombreAlumno.errors}">

            <!--la controlLogin. ve del ts, si es compleixen les dues condicions es true-->

            <div *ngIf="submitted && controlLogin.nombreAlumno.errors" class="invalid-feedback">
                <div *ngIf="controlLogin.nombreProfesor.errors.required">El nombre es obligatorio</div>
            </div>
        </div>
    </div>
    <br>

    <!--camp contrasenya i confirmar contrasenya-->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="control-label">Contrasenya</label>
            <input type="password" formControlName="contrasenya" id="contrasenya" placeholder="Contrasenya" class="form-control" [ngClass]="{'is-invalid': submitted && controlLogin.contrasenya.errors}">

            <div *ngIf="submitted && controlLogin.contrasenya.errors" class="invalid_feedback">
                <div *ngIf="controlLogin.contrasenya.errors.required">Contrasenya obligatoria</div>
            </div>
        </div>
    </div>


    <br><br>
    <!--botó-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="enviarDatosForm()">Enviar</button>
    </div>

</form>
